<div id="home">
  <div class="container">
    <div class="d-flex align-items-center" style="height: 100vh;">
      <div class="card-white card-xl">
        <h2>Hello Anisa!</h2>

        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.input :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field">
            <%= f.input :password, autocomplete: "current-password" %>
          </div>

          <div class="actions">
            <%= f.submit "Log in", class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= link_to 'logout', destroy_user_session_path(resource), method: :delete %>
